# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database
backend/*.db
backend/*.db-journal

# Compiled/Frontend
frontend/node_modules/
frontend/dist/
dist/
static/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
